.file {
    font-size: 18px;
    margin: auto;
    height: auto;
    width: 30vw;
    justify-content: left;
    align-content: left;
    background-color: rgb(163, 177, 255);
    color: black;
}

.folder {
    font-size: 20px;
    margin: auto;
    height: auto;
    width: 30vw;
    justify-content: left;
    align-content: left;
    background-color: mediumblue;
    color: white;
    font-weight: bolder;
}

#beer {
    font-size: 25px;
}

table {
    width: 50vw;
    border-collapse: collapse;
    margin: 20px auto;
}

th, td {
    padding: 8px 12px;
    text-align: left;
    border: 1px solid rgb(221, 220, 220);
}

th {
    background-color: darkblue;
    color: white;
}

body {
    background-color: rgb(11, 11, 56);
    color: white;
    font-family: 'Courier New', monospace;
    font-weight: bold;
}