#file {
    height: auto;
    width: 50vw;
    justify-content: center;
    align-content: left;
    background-color: cyan;
    color: black;
}
#folder {
    height: auto;
    width: 50vw;
    margin-left: 2vw;
    justify-content: center;
    align-content: center;
    background-color: mediumblue;
}
body {
    background-color:darkblue;
    color: white;
}